.Container{
  width: 100%;
  background-color: aqua;
  margin: 300px auto;
  display: flex;
  justify-content: center;
}

.LoginContainer{
  width: 600px;
  height: auto;
  display: flex;
  justify-content: center;
}

.form{
  padding: 20px 70px;
  width: 100%;
  background-color: #F2F6FF;
  border: 3px solid #C4D0EB;
  color: #202D48;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emailConatiner {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
  position: relative;
}

.passwordContainer{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
  position: relative;
}

.btnContainer{
  width: 100%;
  display: flex;
  justify-content: center;
}

.OR{
  margin-top: 30px;
  color: #202D48;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}

.OR::before{
  margin-left: 10px;
  content: '';
  position: absolute;
  border: 1px solid #202D48;
  width: 200px;
  top: 7px;
  left: 90%;
}

.OR::after{
  margin-right: 10px;
  content: '';
  position: absolute;
  border: 1px solid #202D48;
  width: 200px;
  top: 7px;
  right: 90%;
}