.container{
  height: 100%;
  width: 300px;
  max-width: 250px;
  padding: 10px;
  margin-right:10px;
}

.textContainer{
  margin: 10px 0 ;
}

.text{
  font-size: 35px;
  color: white;
}

.pages{
  display: flex;
  align-items: center;
  font-size: 10px;
  width: 100%;
  margin-top: 20px;
  color: white;
  background-color:#223977 ;
  padding: 10px;
  border-radius: 5px;
}

.Page{
  margin-left: 5px;
}
